<div class="panel">
  <%= link_to material.title, material %>
  <%= link_to t("materials.index.mark_practiced"), [material, :practices],
      method: :post %>
    <%= t("materials.index.practices_count",
        practices_count: material.practices_count)
    %>
</div>
