<div class="panel inline-list">
  <%= link_to material.title, material %>

  <%= t("practice.show.practices_count",
      practices_count: material.practices_count)
  %>

  <ul class="right button-group radius">
    <%= link_to "Mark completed", [material, :completions],
      method: :post, :class => "button tiny secondary"
    %>

    <%= link_to t("practice.show.mark_practiced"), [material, :practices],
      method: :post, :class => "button tiny success"
    %>
  </ul>
</div>
