<div>
  <% if @materials.empty? %>
    <%= t("materials.index.no_materials") %>
  <% else %>
    <%= render @materials %>
  <% end %>

  <br>

  <%= link_to t("materials.index.add_new"), new_material_path %>
</div>
