<div class="completed_materials">
  <% unless materials.empty? %>
    <div class="completed-materials">
      <p> <%= t("practice.show.completed_materials") %> </p>
      <%= render materials %>
    </div>
  <% end %>
</div>
