<div class="row">
  <% if @practice.incompleted_materials.empty? %>
    <%= t("practice.show.no_materials") %>
  <% else %>
    <%= render @practice.incompleted_materials %>
  <% end %>

  <br>

  <%= link_to t("practice.show.add_new"), new_material_path,
    :class => "button"
  %>

  <br>

  <div class="completed-materials">
    <p>Completed materials</p>
    <%= render @practice.completed_materials %>
  </div>
</div>
